anyio
click
colorama
cramjam
exceptiongroup
fastapi
fsspec
h11
idna
joblib
nltk
numpy
pandas
pip
pyarrow
pydantic
python-dateutil
pytz
regex
scikit-learn
scipy
setuptools==59.8.0
six==1.16.0
starlette
textblob
threadpoolctl
tqdm
typing_extensions
uvicorn
wheel
